.cart-container{
    background-color: bisque;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    position: sticky;
    top: 15px;
}
.cart-container h4{
    text-align: center;
}

.clear-button{
    border: 2px white solid;
    background-color: red;
    width: 90%;
    height: 30px;
    color: white;
    border-radius: 10px;
}

.clear-button:hover{
    background-color: brown;
}