.review-container{
    margin: 5%;
    
}

.checkout-button{
    width: 90%;
    background-color: rgb(255, 187, 0);
    border: none;
    color: white;
    border-radius: 10px;
    height: 30px;
    margin-top: 5px;
}

.checkout-button:hover{
    background-color: rgb(255, 153, 0);
}